.facilitamos-items {
    display: flex;

}
.facilitamos-items img{
    width: 110px;
    height:110px;
    padding: 20px ;
   margin-left: -20px;


}


 /* Media Queries para ajuste gradual */
 @media (max-width: 1200px) {
    .facilitamos-items img {
        width: 80px;
        height: 80px;
    }

    
}

@media (max-width: 992px) {
    .facilitamos-items img {
        width: 60px;
        height: 60px;
    }

   
}

@media (max-width: 768px) {
    .facilitamos-items {
        justify-content: center; /* Centra los elementos en pantallas más pequeñas */
    }

    .facilitamos-items img {
        width: 50px;
        height: 50px;
    }

   
}

@media (max-width: 576px) {
    .facilitamos-items img {
        width: 40px;
        height: 40px;
    }

  
}